@model ExamASP.NETMVC.Models.ExamDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExamDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassRoom1.NameTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoom1.NameTeacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamSubject1.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamSubject1.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
